# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Next.js
.next
out
dist

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
logs/*.log

# OS
.DS_Store
Thumbs.db

# Build
coverage

# dev docs
docs